[Unit]
Description=AEM Author Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ aem_author_docroot }}/crx-quickstart/bin/start
ExecStop={{ aem_author_docroot }}/crx-quickstart/bin/stop
ExecReload={{ aem_author_docroot }}/crx-quickstart/bin/restart

[Install]
WantedBy=multi-user.target
